<div class="index">
	<table id="index_header">
	  <tr>
	  	<% if @user.id == current_user.id %>
	  	  <td><h1>My Reminders</h1></td>
		<% else %>
		  <td><h1>Reminders for <%= @user.name %></h1></td>
		<% end %>
		
		<td class="linktonew"><%= link_to 'New reminder', new_user_reminder_path(@user), :class => "newreminder modalbox", :remote => true %></td>

		<td class="searchform"> <%= render 'search_form' %> </td>
	  </tr>
	</table>

	<div class="content">
	  	<div id="reminders_search_results">	
		  	<%= render 'show_reminders'%><br />
		</div>
	</div>

	<% if !@friendfilter %>
		<%= link_to "Filter Friends", user_reminders_path(@user, :friendfilter => "true"), :remote => true %>
	<% else %>
	  	<%= link_to "Unfilter Friends", user_reminders_path(@user), :remote => true %>
	<% end %>

	<% if @reminders.count > 0 %>
	<div class = "flickr_pagination">
		<%=will_paginate @reminders %>
	</div>
	<% end %>
</div>

