<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <div class="field">
    <% if request.fullpath.include? "signup" or request.fullpath.include? "users"  %>
      *Username<br /> 
      <%= f.text_field :name %>
    <% else %>
      <br /><p>Name<br /><%= @user.name %></p>
      <input type="hidden" id="name" name="user[name]" value="<%= @user.name %>" />
    <% end %>
  </div>
  
  <div class="field">
    *Email<br /> 
    <%= f.text_field :email %>
  </div>  
  
  <div class="field">
    First Name<br />
    <%= f.text_field :fname %>
  </div>
  
  <div class="field">
    Last Name<br />
    <%= f.text_field :lname %>
  </div>
  
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone %>
  </div>  
  
  <div class="field">
    *Password<br /> 
    <%= f.password_field :password %>
  </div>

  <% if signed_in? %>
  <div class="field">
    *Photo<br />
    <%= f.file_field :photo %>
  </div>
  <% end %>
  
  <div class="field">
    *Password Confirmation<br /> 
    <%= f.password_field :password_confirmation %>
  </div>
  
  <p> (*) required fields </p> <br />
  <% if @user.permission_level == 1 %>
    <input type="hidden" id="permission_level" name="user[permission_level]" value="1" />
  <% else %>
    <input type="hidden" id="permission_level" name="user[permission_level]" value="2" />
  <% end %>
  <div class="actions">
    <% if request.fullpath.include? "signup"  %>
      <%= f.submit 'Sign up', {:class => 'submit_button'} %>
    <% else %>
      <%= f.submit 'Save', {:class => 'submit_button'} %>
    <% end %>
  </div>

<% end %>