<div class="userpages">
<h1>Password Recovery</h1>

<%= form_tag(recover_path, :method => "put" ) do %>

  <div class="field">
    <%= label_tag(:email, "Email") %><br /> 
    <%= text_field_tag(:email) %>
  </div>  
  
  <div class="actions">
    <%= submit_tag("Recover") %>
  </div>
<% end %>

<p> <%= link_to "Sign In", signin_path %></p>
</div>
