<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="event_form_header">Event Details</h2>
  <table>
    <tr>
      <td>
        <div class="event_name">
          *<%= f.label :event_name, {:class => "form_label"} %><br />
          <%= f.text_field :name %>
        </div>
        <div class="event_description">
          <%= f.label :description, {:class => "form_label"}  %><br />
          <%= f.text_area :description %>
        </div>
      </td>
      <td>
        <div class="event_tags">
          Tags for this event (e.g. tag1, tag2, ...)<br />
          <% if @tags == nil %>
            <input id="tag_text" name="tag[text]" type="text" />  
          <% else %>
            <% @tag_string = "" %>
            <% @tags.each do |tag| %>
              <% if @tag_string.length > 0 %><% @tag_string += ", " %><% end %>
              <% @tag_string += tag.name %>
            <% end %>
            <input id="tag_text" name="tag[text]" type="text" value='<%= @tag_string %>'/>
          <% end %>
        </div>
        <div class="start_info">
          <p>
            *When will this event start?<br />
            <%= f.date_select :start_at, :default => {:day => @day, :month => @month} %>
          </p>
          <p>
            *What time?<br />
            <% if @event.all_day %>
              <%= f.time_select :start_at, :ignore_date => true, :disabled => "disabled"  %>
            <% else %>
              <%= f.time_select :start_at, :ignore_date => true %>
            <% end %>
          </p>
        </div>
        <div class="end_info">
          <p>
            *When will this event end?<br />
            <%= f.date_select :end_at, :default => {:day => @day, :month => @month} %>
          </p>
          <p>
            *What time?<br />
            
            <% if @event.all_day %>
              <%= f.time_select :end_at, :ignore_date => true, :disabled => "disabled" %>
            <% else %>
              <%= f.time_select :end_at, :ignore_date => true %>
            <% end %>
          </p>
        </div>
      </td>
    </tr>
    <tr>
        <td class="event_form_header"><h2>Additional Options</h2></td>
    </tr>
    <tr>
      <td>
        <div class="all_day_info">
          <p>
            <%= f.check_box :all_day, :id => "all_day_checkbox" %>
            This is an all-day event<br />
          </p>
        </div>

        <div class="privacy_info">
          <p>
            <%= f.check_box :is_public %>
            Share this event with everyone<br />
          </p>
        </div>

        <div class="reminder_info">
          <p>
            <%= check_box_tag("check", "reminder") %> Add Reminder<br />
          </p>

        </div>
      </td>
      <td>

        <div class="repeat_info">
          <p>
            <label class="repeat_selection">Repeat: 
              <select name="repeat">
                <option value="none">None</option>
                <option value="daily">Every Day</option>
                <option value="weekly">Every Week</option>
                <option value="biweekly">Every 2 Weeks</option>
                <option value="monthly">Every Month</option>
                <option value="yearly">Every Year</option>
              </select>
            </label>
          </p>
        </div>

        <div class="end_repeat_info">
          <p>
            End Repeat on: 
            <%= date_select "end_repeat", "date", :default => {:day => @day, :month => @month} %>
          </p>
        </div>
      </td>
    </tr>
  </table>

  <p><br /> (*) required fields </p><br />

  <input type="hidden" id="event_user_id" name="event[user_id]" value="<%= @user.id %>" />
  <input type="hidden" id="event_poster_id" name="event[poster_id]" value="<%= current_user.id %>" />

  <% if @user.id == current_user.id %>
    <input type="hidden" id="event_confirmed" name="event[confirmed]" value="true" />
  <% else %>
    <input type="hidden" id="event_confirmed" name="event[confirmed]" value="false" />
  <% end %>
  
  <input type="hidden" id="user_id" name="[user_id]" value="<%= @user.id %>" />
  

  <div class="actions">
    <% if request.fullpath.include? "new"  %>
      <%= f.submit 'Create Event', {:class => 'submit_button'} %>
    <% else %>
      <input type="hidden" id="type" name="type" value="update" />
      <%= f.submit 'Update Event', {:class => 'submit_button'} %>
    <% end %>
  </div>
<% end %>
