<header>
  <div class="logo">
    <%= link_to logo, root_path %>
  </div>
  <div class="menu">
    <nav>
      <ul>
        <% if signed_in? %>
          <li><%= link_to "#{current_user.name}: Sign out", signout_path %></li>
          <li><%= link_to "Profile", user_profile_path %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>