<% if @user.id == current_user.id %>
<div class="listpages">
<h1>My Lists</h1>
<% else %>
<h1>Lists for <%= @user.name %> from Me</h1>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>User</th>
    <th>Poster</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.name %></td>
    <td><%= list.user_id %></td>
    <td><%= list.poster_id %></td>
    <td><%= link_to 'View', list %></td>
    <td><%= link_to 'Add Items', edit_user_list_path(@user, list) %></td>
    <td><%= link_to "Delete", {:action => "destroy_list", :id => list}, :onclick => "return confirm('Are you sure?')" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_user_list_path(@user) %>
</div>